# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/

# Tableau files (opcions)
# Ignora fitxers temporals de Tableau
*.twb~
*.bak

# Data folder (don’t version heavy/raw data)
data/*
!data/README.md
!data/global_climate_data.xlsx

# Outputs / exports (imatges, PDFs…)
outputs/*
